<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE</title>
    <style>
        button {
            color: white;
            background-color: blue;
            height: 50px;
            width: 250px;
            font-family: Arial;
        }
    </style>
</head>

<body>
    <div id="js">
        <h1>Contador:{{contador}}</h1>
        <button v-on:click ="incrementar()">Incrementar</button>
        <button v-on:click ="restar()">Restar</button>
        <button v-on:click ="reset()">Reset</button>

    </div>
    <div id="App">
        <h1 v-if="becado">Ya tengo beca</h1> 
        <h1 v-else>Ya no tengo beca</h1> 
        <button @click="conBeca">Estas becado</button>
        <button @click="sinbeca">Ya no estas becado</button>
    </div>

    <div id='MD'>
        <h1>Mi nombre es: {{nombre}} </h1>
        <input v-model = "nombre" type="text"></input>

        <h1>Carrera {{carrera}}</h1>
        <select v-model="carrera">
            <option>Software</option>
            <option>Matematicas</option>
            <option>Fotografia</option>
            <option>Deportes</option>
        </select>

        <h1>Mi edad es {{edad}}</h1>
        <input v-model = "edad" type="number"></input>
        <h2>{{resultado}}</h2>
        <button @click = "calcular_edad()">Calcular edad</button>
        
        
        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="model.js"></script>
    <script src="contador.js"></script>
    <script src="condicionales.js"></script>
</body>

</html>